<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Todo List</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc commodo eros ut convallis mollis.
            Nulla nec scelerisque dolor, a dictum lacus. Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Sed sit amet tortor vel justo hendrerit congue ac nec tellus. Donec velit est,
            gravida ut nunc id, lacinia rhoncus tellus. Phasellus egestas orci quis lorem consequat volutpat. Vivamus
            vel convallis velit.</p>
    </div>
</div>

<div class="cadastro">
    <app-todolist-details-form></app-todolist-details-form>
</div>

<div class="lista-items">
    <span><h3>Cadastradas</h3></span>
    <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>